/**
 * RealEstate Icons
 */
@font-face {
  font-family: "realestate-icons";
  src:url("../fonts/realestate-icons.eot");
  src:url("../fonts/realestate-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/realestate-icons.woff") format("woff"),
    url("../fonts/realestate-icons.ttf") format("truetype"),
    url("../fonts/realestate-icons.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;

}


[data-icon]:before {
  font-family: "realestate-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "realestate-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apartment:before {
  content: "a";
}
.icon-bathtub:before {
  content: "b";
}
.icon-bed:before {
  content: "c";
}
.icon-blueprint:before {
  content: "d";
}
.icon-box:before {
  content: "e";
}
.icon-construction:before {
  content: "f";
}
.icon-contract:before {
  content: "g";
}
.icon-directions:before {
  content: "h";
}
.icon-door:before {
  content: "i";
}
.icon-eco-lightbulb:before {
  content: "j";
}
.icon-electricity-plug:before {
  content: "k";
}
.icon-fan:before {
  content: "l";
}
.icon-fence:before {
  content: "m";
}
.icon-for-rent:before {
  content: "n";
}
.icon-for-sale:before {
  content: "o";
}
.icon-garage:before {
  content: "p";
}
.icon-house:before {
  content: "q";
}
.icon-house-key:before {
  content: "r";
}
.icon-international:before {
  content: "s";
}
.icon-key:before {
  content: "t";
}
.icon-listings:before {
  content: "u";
}
.icon-location:before {
  content: "v";
}
.icon-mailbox:before {
  content: "w";
}
.icon-maintenance:before {
  content: "x";
}
.icon-percentage:before {
  content: "y";
}
.icon-pool:before {
  content: "z";
}
.icon-real-estate:before {
  content: "A";
}
.icon-repair:before {
  content: "B";
}
.icon-search:before {
  content: "C";
}
.icon-shower:before {
  content: "D";
}
.icon-sold:before {
  content: "E";
}
.icon-store:before {
  content: "F";
}
.icon-thermostat:before {
  content: "G";
}
.icon-wall:before {
  content: "H";
}
.icon-washing-machine:before {
  content: "I";
}
.icon-water-tab:before {
  content: "J";
}

