<div class="row">

  <div class="col-12 col-md-4">
    <div class="silo m-1 text-center">
      <div class="icon icon-bathtub large-icon"></div>
      <span class="count"> 2</span>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="silo m-1 text-center">
      <div class="icon icon-bed large-icon"></div>
      <span class="count"> 2</span>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="silo m-1 text-center">
      <div class="icon icon-garage large-icon"></div>
      <span class="count"> 3 </span>
    </div>
  </div>
</div>
