$fa-font-path: "../fonts/font-awesome";
$use-fadeIn: true;
$use-fadeOut: true;

$red:#B30711;
$teal:#1E8A96;
$orange:#ffc23f;
$blue:#084B8E;

/**
 * Primary color Theme
 * @type {[type]}
 */
$primary:$red;


// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/sass-mediaqueries/_media-queries.scss';
@import "node_modules/animate-sass/_animate.scss";

@import 'font-awesome/fa-solid.scss';
@import 'realestate-icons.scss';
@import 'mixins.scss';
@import 'carousel.scss';
@import 'typography.scss';
@import 'form.scss';
@import 'font-awesome/fontawesome.scss';













.large-icon {
  font-size: 2.4em;
}

.hide-overflow {
  overflow: hidden;
}
.text-muted {
  font-weight:400;
}

.subtitle {
  @if (lightness($primary) > 50) {
    color: mix(#000, $primary, 60%);
  } @else {
    color: mix(#fff, $primary, 70%);
  }
}

.subheader-section {
  @if (lightness($primary) > 50) {
    background-color: mix(#000, $primary, 95%);
    color: lighten($primary, 90%);
  }
  @else {
    background-color: mix(#fff, $primary, 95%);
  }
}


.silo {
  height: 125px;
  background-color: $primary;
  @if (lightness($primary) > 50) {
    color: mix(#000, $primary, 80%);
  }
  @else {
    color: mix(#fff, $primary, 95%);
  }
}

.silo .count {
  font-size: 2.0em;
}



////// header styles
header {}
//////



///// Section styles
section {}





section.alt-section {
  @include radial-gradient($primary, darken($primary, 5%));
  @if (lightness($primary) > 50) {
    color: #000000; // Lighter backgorund, return dark color
  }
  @else {
    color: #ffffff; // Darker background, return light color
  }
}

/////

///// footer styles

footer {
  background-color: darken($primary, 12%);
  @include radial-gradient(darken($primary, 10%), darken($primary, 15%));
  @if (lightness($primary) > 50) {
    color: #000000;
  }
  @else {
    color: #ffffff;
  }
}


footer h2 > a:hover{
  text-decoration:none;
}

footer h2 > a:link {
  @if (lightness($primary) > 50) {
    color: mix(#000, $primary, 99%);
  }
  @else {
    color: mix(#fff, $primary, 99%);
  }
}


/////





/**
 * Google Maps Styles
 */

#map {
  height: 300px;
  width: 100%;
}

#pano {
  float: right;
  height: 200px;
  width: 100%;
}




 
.credits {
  background-color:black;
}
.credits a {
  font-size:9px;
  color:white !important;
}


.realtor-thumbnail {
  height: 100px;
  width: auto;
}


.underscore {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
